@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.input {
  color: #8707ff;
  border: 2px solid #8707ff;
  border-radius: 10px;
  padding: 10px 15px;
  background: transparent;
  width: 100%;
 }
 
 .input:active {
  box-shadow: 2px 2px 15px #8707ff inset;
 }